
<div class="home">
    <div class="home-img-container">
        <img src="wellsky-home.jpg"  width="100%" height="90%">
        <div class="home-details">
            <span class="home-details-header">Welcome to WellSky Microfrontend and Web component</span>
            <span class="home-pointers-data"><span class="home-pointers">.</span> Creating applications without restricting technology </span>
            <span class="home-pointers-data"><span class="home-pointers">.</span> Smaller, more cohesive and maintainable codebases </span>
            <span class="home-pointers-data"><span class="home-pointers">.</span> More scalable organisations with decoupled, autonomous teams </span>
            <span class="home-pointers-data"><span class="home-pointers">.</span> The ability to upgrade, update, or even rewrite parts of the frontend in a more incremental fashion than was previously possible </span>
        </div>
    </div>
</div>